/* styles.css */
.navbar {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: red;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    color: #333;
}

.card img {
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}
