<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>
<body>
    <p>{{ object }}</p>
    <p>{{ object }}</p>

    <p>{{ post.id }}</p>
    <p>{{ post }}</p>

    {% if post.thumb_image %}
    <img src="{{ post.thumb_image.url }}" controls></img>
    {% endif %}

    <p>조회수: {{ post.view_count }}</p>
    {% if post.file_upload %}
    <video src="{{ post.file_upload.url }}" controls></video>
    {% endif %}

    <hr>
    <section>
        <h3>태그</h3>
        {% for tag in post.tag.all %}
            <p>{{ tag }}</p>
        {% endfor %}
    </section>

    <section>
        <h3>댓글</h3>
        {% for comment in post.comments.all %}
            <p>{{ comment.message }}</p>
            <p>{{ comment.author }}</p>
            <p>{{ comment.updated_at }}</p>
        {% endfor %}
    </section>

    <section>
        <h3>댓글 작성</h3>
        <form action="{% url 'tube:comment_new' post.pk %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="댓글 작성">
        </form>
    </section>

    <a href="{% url 'tube:post_list' %}">목록</a>
    {% if user == post.author %}
    <a href="{% url 'tube:post_edit' post.pk %}">수정</a>
    <a href="{% url 'tube:post_delete' post.pk %}">삭제</a>
    {% endif %}
</body>
</html>
