<!DOCTYPE html>
<html>

<head>
    <!-- Add Bootstrap CSS CDN link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Add Tailwind CSS CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 p-20">
    <form class="max-w-md mx-auto bg-white p-8 rounded" method="post">
        {% csrf_token %}
        <h2 class="text-2xl text-center font-bold mb-6">Create a New Post</h2>

        <h3 class="mt-4">Add Post</h3>
        {{ post_form.as_p }}
        <button type="submit" class="mt-6 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Create Post</button>
    </form>
</body>

</html>
