<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add Bootstrap CSS CDN link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Add Tailwind CSS CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <title>Post Detail</title>
</head>

<body class="bg-gray-200 p-20">
    <div class="container mx-auto">
        <div class="bg-white p-4 rounded mb-4">
            <h1 class="text-2xl font-bold">{{ post.title }}</h1>
            <p>작성자: {{ post.author }}</p>
            <p>작성일: {{ post.created_at }}</p>
            <p>조회수: {{ post.view_count }}</p>

            <div class="comments-section mt-4">
                <h3>커맨드보기</h3>
                <ul>
                    {% for content in post.postcontents.all %}
                    <!-- form for editing content -->
                    <li id="content_edit_{{ content.order }}">
                        <!-- button to toggle form display -->
                        <button onclick="toggleForm('{{ content.id }}')" class="btn btn-primary">수정보이기</button>
                        <div id="form-{{ content.id }}" style="display: none;">
                            <form method="post" enctype="multipart/form-data" action="{% url 'tube:post_edit' pk=post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="content_id" value="{{ content.id }}">

                                {% if content.file_upload %}
                                <!-- display file upload -->
                                <div class="image-container"></div>
                                <input type="file" name="image" class="form-control-file">
                                {% endif %}
                                {% if content.content %}
                                <!-- display existing content for editing -->
                                <textarea name="new_content" class="form-control">{{ content.content }}</textarea>
                                {% endif %}
                                <input type="submit" value="수정" class="btn btn-primary">
                            </form>
                            <form method="post" action="{% url 'tube:content_delete' pk=post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="content_id" value="{{ content.id }}">
                                <input type="submit" value="삭제" class="btn btn-danger">
                            </form>
                        </div>
                        <div name="content">content: {{ content.content }}</div>
                        {% if content.file_upload %}
                        <div id="image-container"></div>
                        {% endif %}
                        <div name="content">order: {{ content.order }}</div>
                    </li>
                    {% endfor %}
                    <div class="new-comment-section mt-4">
                        <h3>커맨드작성</h3>
                        <form class="comment-form" action="{% url 'tube:add_post' post.pk %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ content_form.as_p }}
                            <input type="file" name="image" class="form-control-file">
                            <input type="hidden" name="redirect_url" value="creat">
                            <input class="btn btn-primary" type="submit" value="컨텐츠작성">
                        </form>
                    </div>
                </ul>
            </div>
            <div class="tags-section mt-4">
                <h3>태그</h3>
                <ul>
                    {% for tag in post.tags.all %}
                    <li>{{ tag }}
                        <form class="delete-tag-form" action="{% url 'tube:tag_delete' post.pk tag.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="creat">
                            <input type="submit" class="btn btn-danger" value="삭제">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="add-tag-section mt-4">
                <h3>태그 추가</h3>
                <form class="tag-form" action="{% url 'tube:add_tag' post.pk  %}" method="post">
                    {% csrf_token %}
                    <label for="tag_name">태그 이름:</label>
                    <input type="text" id="tag_name" name="tag_name" class="form-control">
                    <input type="hidden" id="redirect_url" name="redirect_url" value="creat">
                    <input class="btn btn-primary" type="submit" value="추가">
                </form>
            </div>

            <div class="navigation-links mt-4">
                <a class="btn btn-primary" href="{% url 'tube:post_detail' post.pk %}">상세페이지</a>
                <a class="btn btn-primary" href="{% url 'tube:post_list' %}">목록</a>
            </div>
        </div>
    </div>

</body>

</html>
